.container-back {
    background: #3549FB;
}

.container-franchise {
    background: linear-gradient(180.02deg, #3549FB 0.02%, #4ED2DA 74.93%);
    padding-top: 15rem;
}

.icon-arrow-left {
    color: #FFFFFF;
}

.container-white {
    background: #FFFFFF;
    border-radius: 25px 25px 0 0;
    /* padding-bottom: 3rem; */
}

.title {
    margin: 50px 430px;
    font-size: 23px;
    font-weight: 900;
}

@media only screen and (max-width: 767px) {
    .container-franchise {
        background: linear-gradient(180.02deg, #3549FB 0.02%, #4ED2DA 74.93%);
        padding-top: 15rem;
    }

    .icon-arrow-left {
        color: #FFFFFF;
        margin-top: 20px;
    }

    .container-white {
        background: #FFFFFF;
        border-radius: 25px 25px 0 0;
        padding-bottom: 5rem;
    }

    .title {
        margin: 50px auto auto 50px;
        font-size: 23px;
        font-weight: 900;
    }
    
}
